<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bloggster</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="D:\project\BlogWebsite\Templates\styling\main.css">
</head>
 
<body>
    <div class="bg-image" style="background-image: url('bgbase.jpg');height: 100vh;background-size : cover;">
    <header class="header">
        <nav class="navbar navbar-style">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainicon">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#"><img class="logo" src="blog1.JPG"></a>
                </div>
                <div class="collapse navbar-collapse" id="mainicon">
                <ul class="nav navbar-nav navbar-right">
                    <li><button class="btn navbar-btn"><a href="#">HOME</a></button></li>
                    <!-- <li><button class="btn navbar-btn"><a href="#">REGISTER</a></button></li> -->
                    <li><button class="btn navbar-btn"><a href="#">ABOUT</a></button></li>
                    <!-- <li><button class="btn navbar-btn"><a href="#">LOGIN</a></button></li> -->
                </ul>
                </div>
            </div>  
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 id="wel">Welcome to </h1>
                    <p class="big-text">Blogging on Bloggster</p>
                    <p>The best place to site your own blogs</p>
                    <a href="#" class="btn btn-first">Register</a>
                    <a href="#" class="btn btn-second">Sign In</a>
                </div>
                <div class="co-sm-6">

                </div>
            </div>
        </div>
    </div>
    </header>
    
</body>
</html>