*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100vh;
}
.navbar-style{
    box-shadow : 0 5px 10px #efefef;
    background-color: steelblue;
}
.logo{
    height: 48px;
    padding: 2px 10x;
}
.icon-bar{
    background: blueviolet;
}
.navbar-btn{
    margin-right: 3px ;
    margin-left: 3px;
    border-radius: 20px;
}
#wel{
    font-family: 'Brush Script MT', cursive;
    font-size: 70px;
}
.big-text
{   font-family: 'Brush Script MT', cursive;
    font-size: 100px;
    /* margin: 20px 0; */
    /* margin-left: 100px; */
    color: steelblue;
}